@{    
{
    ViewBag.Title = "AddITSM";

}
<h2>Çağrı Giriş Ekranı</h2>
<br />
<br />
<form action="/AdminITSM/AddNewIssue" method="post">
    <label>Issue Type</label>    
    <br />
    <input type="text" name="IssueType" />
    <br />
    <br />
    <label>Custom field (Company)</label>   
    <br />
    <input type="text" name="Company" />
    <br />
    <br />
    <label>Issue key</label>   
    <br />
    <br />
    <input type="text" name="IssueName" />
    <br />
    <br />
     <label>Issue id</label>   
    <br />
    <br />
    <input type="text" name="IssueId" />
    <br />
    <br /> <label>Summary</label>   
    <br />
    <br />
    <input type="text" name="Summary" />
    <br />
    <br /> <label>Assignee</label>   
    <br />
    <br />
    <input type="text" name="Assignee" />
    <br />
    <br /> <label>Reporter</label>   
    <br />
    <br />
    <input type="text" name="Reporter" />
    <br />
    <br /> <label>Resolution</label>   
    <br />
    <br />
    <input type="text" name="Resolution" />
    <br />
    <br /> <label>Project key</label>   
    <br />
    <br />
    <input type="text" name="ProjectKey" />
    <br />
    <br /> <label>Project name</label>   
    <br />
    <br />
    <input type="text" name="ProjectName" />
    <br />
    <br /> <label>Project type</label>   
    <br />
    <br />
    <input type="text" name="ProjectType" />
    <br />
    <br /> <label>Project lead</label>   
    <br />
    <br />
    <input type="text" name="ProjectLead" />
    <br />
    <br /> <label>Project description</label>   
    <br />
    <br />
    <input type="text" name="ProjectDescription" />
    <br />
    <br /> <label>Project url</label>   
    <br />
    <br />
    <input type="text" name="ProjectUrl" />
    <br />
    <br /> <label>Priority</label>   
    <br />
    <br />
    <input type="text" name="Priority" />
    <br />
    <br /> <label>Created</label>   
    <br />
    <br />
    <input type="text" name="Created" />
    <br />
    <br /> <label>Resolved</label>   
    <br />
    <br />
    <input type="text" name="Resolved" />
    <br />
    <br /> <label>Status</label>   
    <br />
    <br />
    <input type="text" name="Status" />
    <br />
    <br /> <label>Custom field (Linked Incident No)</label>   
    <br />
    <br />
    <input type="text" name="CustomFieldIncidentNo" />
    <br />
    <br /> <label>Custom field (Linked Problem No)</label>   
    <br />
    <br />
    <input type="text" name="CustomFieldProblemNo" />
    <br />
    <br />

    <input type="submit" value="Ekle" />
     <input type="submit" value="Vazgeç" />
 
</form>

}
