
{
    ViewBag.Title = "AddProject";
}

<h2>Proje Giriş Ekranı</h2>
<br />
<br />
<form action="/FormExample1/Create" method="post">
    <label>Banka</label>    
    <br />
    <input type="text" name="banka" />
    <br />
    <br />
    <label>Jira Proje No</label>   
    <br />
    <input type="text" name="jiraProjeNo" />
    <br />
    <br />
    <label>Jira Task No</label>   
    <br />
    <br />
    <input type="text" name="jiraTaskNo" />
    <br />
    <br />
     <label>Proje Adı</label>   
    <br />
    <br />
    <input type="text" name="projeAdi" />
    <br />
    <br /> <label>Öncelik</label>   
    <br />
    <br />
    <input type="text" name="oncelik" />
    <br />
    <br /> <label>Efor</label>   
    <br />
    <br />
    <input type="text" name="efor" />
    <br />
    <br /> <label>Intertech Takım</label>   
    <br />
    <br />
    <input type="text" name="intertechTakim" />
    <br />
    <br /> <label>Not</label>   
    <br />
    <br />
    <input type="text" name="Not" />
    <br />
    <br /> <label>Inv. Number</label>   
    <br />
    <br />
    <input type="text" name="invNumber" />
    <br />
    <br /> <label>Faturalandırma Yılı ve Dönemi</label>   
    <br />
    <br />
    <input type="text" name="faturalandırmaYiliVeDonemi" />
    <br />
    <br />
    <input type="submit" value="Ekle" />
	 <input type="submit" value="Güncelle" />
 		<input type="submit" value="Sil" />
    		 	<input type="submit" value="Vazgeç" />
 
</form>

}
