@model LoginViewModel

 <partial name="_Navbar" />

<div class="app-wrapper">

	<div class="app-content pt-3 p-md-3 p-lg-4">
		<div class="container-xl">

			<h1 class="app-page-title">DZD TECH FREETİM PERFORMANS TAKİP SİSTEMİ</h1>

			<div class="app-card alert alert-dismissible shadow-sm mb-4 border-left-decoration" role="alert">
				<div class="inner">
					<div class="app-card-body p-3 p-lg-4">
						<h3 class="mb-3">Merhaba, Employee Name</h3>
						<div class="row gx-5 gy-3">
							<div class="col-12 col-lg-9">

								<div> DZD Tech Freetim ile <strong>Projelerini </strong> , <strong> Çağrılarını </strong>  ve <strong> Prim hesaplarını </strong> takip edebilirsin. </div>
							</div><!--//col-->
							<div class="col-12 col-lg-3">
								@*<a class="btn app-btn-primary" href="https://themes.3rdwavemedia.com/bootstrap-templates/admin-dashboard/portal-free-bootstrap-admin-dashboard-template-for-developers/">
								<svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-file-earmark-arrow-down me-2" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
								<path d="M4 0h5.5v1H4a1 1 0 0 0-1 1v12a1 1 0 0 0 1 1h8a1 1 0 0 0 1-1V4.5h1V14a2 2 0 0 1-2 2H4a2 2 0 0 1-2-2V2a2 2 0 0 1 2-2z" />
								<path d="M9.5 3V0L14 4.5h-3A1.5 1.5 0 0 1 9.5 3z" />
								<path fill-rule="evenodd" d="M8 6a.5.5 0 0 1 .5.5v3.793l1.146-1.147a.5.5 0 0 1 .708.708l-2 2a.5.5 0 0 1-.708 0l-2-2a.5.5 0 1 1 .708-.708L7.5 10.293V6.5A.5.5 0 0 1 8 6z" />
								</svg>Rapor Oluştur
								</a>*@
							</div><!--//col-->
						</div><!--//row-->
						<button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
					</div><!--//app-card-body-->

				</div><!--//inner-->
			</div><!--//app-card-->

			<div class="row g-4 mb-4">
				<div class="col-6 col-lg-3">
					<div class="app-card app-card-stat shadow-sm h-100">
						<div class="app-card-body p-3 p-lg-4">
							<h4 class="stats-type mb-1">Toplam Prim Hakediş</h4>
							<div class="stats-figure"> 100  </div>
							<div class="stats-meta text-success">
								A/G
							</div>
						</div><!--//app-card-body-->
						<a class="app-card-link-mask" href="#"></a>
					</div><!--//app-card-->
				</div><!--//col-->

				<div class="col-6 col-lg-3">
					<div class="app-card app-card-stat shadow-sm h-100">
						<div class="app-card-body p-3 p-lg-4">
							<h4 class="stats-type mb-1">Proje Prim Hakediş</h4>
							<div class="stats-figure">80  </div>
							<div class="stats-meta text-success">
								@*<svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-arrow-down" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
								<path fill-rule="evenodd" d="M8 1a.5.5 0 0 1 .5.5v11.793l3.146-3.147a.5.5 0 0 1 .708.708l-4 4a.5.5 0 0 1-.708 0l-4-4a.5.5 0 0 1 .708-.708L7.5 13.293V1.5A.5.5 0 0 1 8 1z" />
								</svg> %*@
								A/G
							</div>
						</div><!--//app-card-body-->
						<a class="app-card-link-mask" href="#"></a>
					</div><!--//app-card-->
				</div><!--//col-->
				<div class="col-6 col-lg-3">
					<div class="app-card app-card-stat shadow-sm h-100">
						<div class="app-card-body p-3 p-lg-4">
							<h4 class="stats-type mb-1">Çağrı Prim Hakediş</h4>
							<div class="stats-figure">20</div>
							<div class="stats-meta text-success">
								A/G
							</div>
						</div><!--//app-card-body-->
						<a class="app-card-link-mask" href="#"></a>
					</div><!--//app-card-->
				</div><!--//col-->
				<div class="col-6 col-lg-3">
					<div class="app-card app-card-stat shadow-sm h-100">
						<div class="app-card-body p-3 p-lg-4">
							<h4 class="stats-type mb-1">Atanmış Proje ve Çağrı Sayısı</h4>
							<div class="stats-figure">6 </div>
							<div class="stats-meta">Devam Eden</div>
						</div><!--//app-card-body-->
						<a class="app-card-link-mask" href="#"></a>
					</div><!--//app-card-->
				</div><!--//col-->
			</div><!--//row-->
			<div class="row g-4 mb-4">
				<div class="col-12 col-lg-6">
					<div class="app-card app-card-stats-table h-100 shadow-sm">
						<div class="app-card-header p-3">
							<div class="row justify-content-between align-items-center">
								<div class="col-auto">
									<h4 class="app-card-title"> Projeler </h4>
								</div><!--//col-->
								<div class="col-auto">
									<div class="card-header-action">
										<a  asp-controller="Project" asp-action="Projects">Tüm Projeler</a>
									</div><!--//card-header-actions-->
								</div><!--//col-->
							</div><!--//row-->
						</div><!--//app-card-header-->
						<div class="app-card-body p-3 p-lg-4">
							<div class="table-responsive">
								<table class="table table-borderless mb-0">
									<thead>
										<tr>
											<th class="meta">Jira Proje No</th>
											<th class="meta ">Proje Adı </th>
											<th class="meta ">Statü </th>  @*//Statu 14-15-16-17 olanlar//*@
											<th class="meta ">A/G</th>
										</tr>
									</thead>
									<tbody>
										<tr>
											<td >HSBC-14226</td>
											<td >HSBC-14786 910A6062213963 - Dijital Link KVKK Uygulaması</td>
											<td >14 - Salesforce Fatura Talebi	</td>	
											<td >6</td>							
											
																						
										</tr>
										<tr>
											<td >HSBC</td>
											<td >Hsbc home agent video recording</td>
											<td >15 - Salesforce Fatura Onay	</td>	
											<td >5	</td>	
										</tr>
										<tr>
											<td >ODEA-4576</td>
											<td >Pusula AKS Kontrolünün Kaldırılması</td>
											<td >16 - DZD e-Fatura	</td>	
											<td >4	</td>	
										</tr>
										<tr>
											<td >DENIZAGI-97</td>
											<td >ISCM-2944 CR for Elimination of Screen Controls on Customer Rating</td>
											<td >17 - DZD Finans OK	</td>	
											<td >3	</td>	
										</tr>
										
									</tbody>
								</table>
							</div><!--//table-responsive-->
						</div><!--//app-card-body-->
					</div><!--//app-card-->
				</div><!--//col-->

				<div class="col-12 col-lg-6">
					<div class="app-card app-card-stats-table h-100 shadow-sm">
						<div class="app-card-header p-3">
							<div class="row justify-content-between align-items-center">
								<div class="col-auto">
									<h4 class="app-card-title">Çağrılar</h4>
								</div><!--//col-->
								<div class="col-auto">
									<div class="card-header-action">
										<a asp-controller="ITSM" asp-action="ITSM">Tüm Çağrılar</a>
									</div><!--//card-header-actions-->
								</div><!--//col-->
							</div><!--//row-->
						</div><!--//app-card-header-->
						<div class="app-card-body p-3 p-lg-4">
							<div class="table-responsive">
								<table class="table table-borderless mb-0">
									<thead>
										<tr>
											
											<th class="meta">Banka</th>
											<th class="meta">Issue Type</th>
											<th class="meta">Kod</th>
											<th class="meta">Statu</th>
										</tr>
									</thead>
									<tbody>
										<tr>
											<td >Odeabank</td>
											<td >Incident</td>
											<td >ITSM-453728</td>	
											<td >Closed	</td>	
										</tr>
										<tr>
											<td >HSBC</td>
											<td >Incident</td>
											<td >ITSM-460952</td>	
											<td >Closed	</td>	
										</tr>
										<tr>
											<td >DenizBank</td>
											<td >Incident</td>
											<td >ITSM-610512</td>	
											<td >Closed	</td>	
										</tr>
										<tr>
											<td >Odeabank</td>
											<td >Service Request</td>
											<td >ITSM-679907</td>	
											<td >Closed	</td>	
										</tr>
										
									</tbody>
								</table>
							</div><!--//table-responsive-->
						</div><!--//app-card-body-->
					</div><!--//app-card-->
				</div><!--//col-->
			</div><!--//row-->

			<div class="row g-4 mb-4">
				<div class="col-12 col-lg-6">
					<div class="app-card app-card-chart h-100 shadow-sm">
						<div class="app-card-header p-3">
							<div class="row justify-content-between align-items-center">
								<div class="col-auto">
									<h4 class="app-card-title"> Tamamlanan Proje A/G Zaman Tablosu</h4>
								</div><!--//col-->
								<div class="col-auto">
									<div class="card-header-action">
										<!--<a href="charts.html">More Charts</a>-->
									</div><!--//card-header-actions-->
								</div><!--//col-->
							</div><!--//row-->
						</div><!--//app-card-header-->
						<div class="app-card-body p-3 p-lg-4">
							<div class="mb-3 d-flex">
								<select class="form-select form-select-sm ms-auto d-inline-flex w-auto">
									<option value="1" selected>1.Çeyrek</option>
									<option value="2">2.Çeyrek</option>
									<option value="3">3.Çeyrek</option>
									<option value="4">4.Çeyrek</option>
								</select>
							</div>
							<div class="chart-container">
								<canvas id="canvas-barchart"></canvas>
							</div>
						</div><!--//app-card-body-->
					</div><!--//app-card-->
				</div><!--//col-->
				<div class="col-12 col-lg-6">
					<div class="app-card app-card-chart h-100 shadow-sm">
						<div class="app-card-header p-3">
							<div class="row justify-content-between align-items-center">
								<div class="col-auto">
									<h4 class="app-card-title">Tamamlanan Çağrı A/G Zaman Tablosu</h4>
								</div><!--//col-->
								<div class="col-auto">
									<div class="card-header-action">
										<!--<a href="charts.html">More Charts</a>-->
									</div><!--//card-header-actions-->
								</div><!--//col-->
							</div><!--//row-->
						</div><!--//app-card-header-->
						<div class="app-card-body p-3 p-lg-4">
							<div class="mb-3 d-flex">
								<select class="form-select form-select-sm ms-auto d-inline-flex w-auto">
									<option value="1" selected>1.Çeyrek</option>
									<option value="2">2.Çeyrek</option>
									<option value="3">3.Çeyrek</option>
									<option value="4">4.Çeyrek</option>
								</select>
							</div>
							<div class="chart-container">
								<canvas id="canvas-barchart"></canvas>
							</div>
						</div><!--//app-card-body-->
					</div><!--//app-card-->
				</div><!--//col-->

			</div><!--//row-->
			
		</div>
	</div>
</div>